<div class="card m-1" style="width: 18rem;">
  <%= image_tag(flat.photos.first) %>
  <div class="card-body">
    <h5 class="card-title"> <%= flat.title %> </h5>
    <p class="card-text"><%= flat.address %></p>
    <p class="card-text"><strong><%= flat.price %>€</strong> /nuit</p>
    <div class="text-center show_button">
      <%= link_to "voir l'annonce", flat_path(flat), class: "retro-button" %>
    </div>
  </div>
</div>
