<h1>index flats</h1>

<ul>
  <% @flats.each do |flat| %>
    <li>
      <%= render "card", flat: flat %>
    </li>
  <% end %>
</ul>


<%# <div class="container">
  <h1>Liste des Appartements</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <%# <div class="col-md-4">
        <div class="card mb-4">
          <%= image_tag flat.cave1.jpg, class: "card-img-top" %>
          <%# <div class="card-body">
            <p class="card-text"><%= flat.description %>
            <%# <%= link_to "Voir plus", flats_path(flat), class: "btn btn-primary" %>
          <%# </div>
        </div>
      </div>
    <% end %>
  <%# </div>
</div> %>


<%# <% @flats.each do |flat|
<%# <%= link_to flat.description, flat_path(flat) %>
<%# <% end %>
