<h1>Show</h1>
<ul>
  <% @flat.photos.each do |photo| %>
    <li>
      <%= image_tag(photo, style: 'height:200px;width:auto;')%>
    </li>
  <% end %>
</ul>
<%= @flat.description %>
<%= @flat.address %>
<%= @flat.price %>
<%= @flat.size %>
<%= @flat.available %>
<%= @flat.rating %>


<%= link_to "louer moi", new_flat_booking_path(@flat)%>
<br>
<%= link_to "retourner aux annonces", flats_path%>
