<div class="container mt-2">
  <h1> <%= @flat.title %> </h1>
  <div class="row">
    <ul>
    <% @flat.photos.each do |photo| %>
      <li>
        <%= image_tag(photo, style: 'height:200px;width:auto;')%>
      </li>
    <% end %>
   </ul>
   <div class="spec">
    <%= @flat.description %>
    <ul>
    <li><%= @flat.address %></li>
    <li><%= @flat.price %></li>
    <li><%= @flat.size %></li>
    <li><%= @flat.available %></li>
    <li><%= @flat.rating %></li>
    </ul>
   </div>
  </div>
  <div class="row">
      <%= link_to "louez moi", new_flat_booking_path(@flat), class: "retro-button"%>
      <br>
      <%= link_to "retourner aux annonces", flats_path, class: "retro-button"%>
  </div>
</div>

