<div class="show-background"></div>

<div class="container">
  <div class="banner-show">
    <h1><%=@flat.title%></h1>
      <ul>
      <% @flat.photos.each do |photo| %>
        <li>
        <div class="gif-show">
          <div class="arrow-image">
            <%= cl_image_tag(photo.key, style: 'height:500px;width:auto;margin-top:20px;')%>
            <div class="loader"></div>
            <div class="loader"></div>
          </div>
          <%= image_tag("https://media.giphy.com/media/yXtmWJ3eNj2BJsuuPp/giphy.gif", style: "height:200px;width:auto") %>
        </div>
        </li>
      <% end %>
      </ul>
  </div>
  <div class="details-show">
  <div class="informations-show" >
    <div class="text-description">
      <h5><%= @flat.description %></h5>
    </div>
      <br>
    <div class="owner-container">
      <h4><%= @flat.owner.firstname%> <%= @flat.owner.lastname%></h4>
      <%= cl_image_tag(@flat.owner.photo.key, class: "owner-photo") %>
    </div>
      <br>
      <br>
    <div class="adress-container">
      <i class="fa-solid fa-map-pin map"></i>
      <h4><%= @flat.address %></h4>
    </div>
      <br>
      <br>
    <%= link_to "retourner aux annonces", flats_path, class:"retro-button"%>
  </div>
    <div class="p-2 flex-shrink-1">
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card-body cards-show">
              <h5 class="card-title"><%= @flat.price %>€</h5>
              <p class="card-text mt-3">
                <i class="fa-solid fa-person"></i>
                <%= @flat.size %>
              </p>
              <p class="card-text">
                <i class="fa-solid fa-star"></i>
                <%= @flat.rating %>
              </p>
              <% if @flat.owner != current_user%>
                <% if @flat.booking %>
                  <% if @flat.booking.status == "pending" %>
                    <p>en train d'etre loué</p>
                  <% elsif @flat.booking.status == "valid" %>
                    <p>il est déja loué</p>
                  <% end %>
                <% else %>
                  <%= render "form", flat: @flat, booking: @booking %>
                <% end %>
              <% elsif @flat.owner == current_user %>
                <% if @flat.booking %>
                  <% if @flat.booking.status == "pending" %>
                  <% elsif @flat.booking.status == "valid" %>
                    <p>en location</p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
