<div class="profile_page container">
  <h1 class="mt-3 mb-5 container text-center w-50">Ton profil</h1>
  <div class="container w-50">
  <div class="profile_image mt-4 mb-4">
    <%= cl_image_tag(@user.photo.key, style: 'height:200px;width:auto;', :alt=>"photo de profil")%>
  </div>
    <div class="infos-user mt-4 mb-4">
      <ul class="list-profile w-100 p-0">
        <li><%= @user.firstname %></li>
        <li><%= @user.lastname %></li>
        <li><%= @user.email %></li>
      </ul>
    </div>
  </div>
  <div class="mt-3 appart_list">
    <h1>Mes appartements en ligne</h1>
    <ul>
      <% @user.flats.each do |flat| %>
        <li>
          <div class="card-product">
            <%= cl_image_tag(flat.photos.first.key, :alt=>"photo de taudis")%>
            <div class="card-product-infos">
              <h2><%= flat.title %></h2>
              <p><strong><%= flat.price %></strong>€ - <%= flat.size %> personnes - Moyenne des avis :<%= flat.rating %>/5</p>
            </div>
          </div>
          <%= link_to "voir mon taudis", flat_path(flat) %>
        </li>
      <% end %>
    </ul>
  </div>

  <h1>Mes réservations</h1>
  <div class="bookings_list">
    <ul>
      <% @user.bookings.each do |booking| %>
        <li>
          <div class="card-product">
            <%= cl_image_tag(booking.flat.photos.first.key, :alt=>"photo de taudis")%>
            <div class="card-product-infos">
              <h2><%= booking.flat.title %></h2>
              <p>Réservation n°<strong><%= booking.flat_id %></strong></p>
            </div>
          </div>
          <%= link_to "voir le taudis", flat_path(booking.flat) %>
        </li>
      <% end %>
    </ul>
  </div>
