<!DOCTYPE html>
<html>
  <head>
    <title>Airbnwish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

  <body>
    <div class="navbar border-bottom px-20">
      <%= link_to image_tag("logo_airbnwish.png", style:"height :75px"), root_path %>
      <div class="action-navbar">
        <% if user_signed_in? %>
          <%= link_to "Mets en ligne ton taudis !!!", new_owner_flat_path%>
          <%= link_to "Profil", profil_path(current_user.id) %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
