<!DOCTYPE html>
<html>
  <head>
    <title>Airbnwish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar border-bottom px-20">
      <%= link_to "LOGO", root_path %>
      <div class="action-navbar">
        <%= link_to "Mets en ligne ton taudis !!!", new_owner_flat_path%>
        <%= link_to "Profil", profil_path(current_user.id) %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
